<template>
  <v-container class="setting pl-1 pr-0">
    <v-container class="text-center">
      <v-row class="mt-5">
        <v-col cols="12" justify="center" class="mt-5">
          <h3 class="title">Input Height</h3>
          <v-card>
            <v-card-text>
              <v-form @submit.prevent>
                <v-text-field
                  v-model="currentHeight"
                  label="Height (in cm)"
                  type="number"
                  required
                ></v-text-field>
                <v-btn dark style="background-color: #e09430" @click="addHeight"
                  >Add Height</v-btn
                >
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <v-row justify="center" align="center" class="mt-5">
        <v-col>
          <h3 class="title">Your current height</h3>
          <div class="current mt-5" v-if="heightLog.length > 0">
            <span>
              {{ heightLog[0].height }}
            </span>
            <small>.cm</small>
          </div>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <h3 class="title">Height Chart</h3>
          <v-card>
            <canvas ref="heightChart" height="300px"></canvas>
          </v-card>
        </v-col>
      </v-row>

      <v-row class="mt-1">
        <v-col cols="12" justify="center" class="mt-5">
          <h3 class="title">Height History</h3>
          <v-card>
            <v-list>
              <v-list-item>
                <v-row cols="3">
                  <v-col>
                    <v-list-item-title class="font-weight-bold font-smaller"
                      >Your height</v-list-item-title
                    >
                  </v-col>
                  <v-col>
                    <v-list-item-title class="font-weight-bold font-smaller"
                      >Measurement Time</v-list-item-title
                    >
                  </v-col>
                  <v-col>
                    <v-list-item-title style="color: white"
                      >.</v-list-item-title
                    >
                  </v-col>
                </v-row>
              </v-list-item>
              <v-list-item v-for="(item, index) in heightLog" :key="index">
                <v-row cols="3" align="center">
                  <v-col>
                    <v-list-item-title class="font-smaller"
                      >{{ item.height }} cm</v-list-item-title
                    >
                  </v-col>
                  <v-col>
                    <v-list-item-subtitle class="font-smaller">{{
                      item.timestamp
                    }}</v-list-item-subtitle>
                  </v-col>
                  <v-col>
                    <v-list-item-action>
                      <v-btn icon @click="deleteHeight(item.id)">
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </v-list-item-action>
                  </v-col>
                </v-row>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<script>
import { db, auth } from "@/main";
import Chart from "chart.js/auto";
import {
  collection,
  addDoc,
  query,
  orderBy,
  getDocs,
  deleteDoc,
  doc,
} from "firebase/firestore";

export default {
  data() {
    return {
      currentHeight: "",
      heightLog: [],
    };
  },
  methods: {
    async addHeight() {
      if (!this.currentHeight) {
        return;
      }
      const now = new Date();
      const timestamp = now.toLocaleDateString();
      try {
        const userId = auth.currentUser.uid;
        const docRef = await addDoc(collection(db, `users/${userId}/heights`), {
          height: this.currentHeight,
          timestamp: timestamp,
        });
        const newHeight = {
          id: docRef.id,
          height: this.currentHeight,
          timestamp: timestamp,
        };
        this.heightLog.unshift(newHeight);
        this.currentHeight = "";
      } catch (error) {
        console.error(error);
      }
    },
    async deleteHeight(id) {
      try {
        const userId = auth.currentUser.uid;
        const docRef = doc(db, `users/${userId}/heights`, id);
        await deleteDoc(docRef);
        this.heightLog = this.heightLog.filter((item) => item.id !== id);
      } catch (error) {
        console.error(error);
      }
    },
    async fetchHeightLog() {
      try {
        const userId = auth.currentUser ? auth.currentUser.uid : null;
        if (userId) {
          const heightsRef = collection(db, `users/${userId}/heights`);
          const q = query(heightsRef, orderBy("timestamp", "desc"));
          const querySnapshot = await getDocs(q);
          const heights = [];
          querySnapshot.forEach((doc) => {
            heights.push({
              id: doc.id,
              height: doc.data().height,
              timestamp: doc.data().timestamp,
            });
          });
          this.heightLog = heights;
        } else {
          // handle the case where there is no authenticated user
        }
      } catch (error) {
        console.error(error);
      }
    },
    createChart() {
      const chartData = {
        labels: [],
        datasets: [
          {
            label: "Height (cm)",
            data: [],
            backgroundColor: "#e09430",
            borderColor: "#e09430",
            borderWidth: 3,
            fill: false,
          },
        ],
      };

      const chartOptions = {
        responsive: true,
        maintainAspectRatio: false,
      };

      const ctx = this.$refs.heightChart.getContext("2d");
      this.heightChart = new Chart(ctx, {
        type: "line",
        data: chartData,
        options: chartOptions,
      });
    },
    updateChart() {
      const labels = this.heightLog.map((height) => height.timestamp).reverse();
      const data = this.heightLog.map((height) => height.height).reverse();

      this.heightChart.data.labels = labels;
      this.heightChart.data.datasets[0].data = data;
      this.heightChart.update();
    },
  },
  created() {
    this.fetchHeightLog();
  },
  mounted() {
    this.createChart();
  },
  watch: {
    heightLog() {
      this.updateChart();
    },
  },
};
</script>
<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #e9c79a;
  max-width: 100%;
  height: 100%;
}
.v-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.v-btn {
  color: #fff;
}
.v-btn:hover {
  color: #1a1919;
}
.height-chart {
  height: 500px;
  margin-top: 20px;
}
.v-list-item__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.v-list-item__subtitle {
  font-size: 16px;
  color: #e09430;
}
.v-list-item__action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-icon {
  color: #e09430;
  cursor: pointer;
}
.v-icon:hover {
  color: #e09430;
}
h3.title {
  background-color: #9d6113;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

  text-align: center;
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 10px solid #9d6113;
  margin: 0 auto 2rem;
}

.current span {
  display: block;
  color: #593506;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: 1s;
}

.current span:hover {
  font-size: 64px;
}

.current small {
  color: #965d12;
  font-style: italic;
  font-size: 24px;
  margin-bottom: -2rem;
}
@media screen and (max-width: 600px) {
  .font-smaller {
    font-size: 14px !important;
  }
}
</style>
