<template>
  <v-container class="setting mt-5">
    <v-row class="mt-5">
      <v-col cols="12" justify="center" class="mt-5" align="center">
        <h3 class="title">Personal Information</h3>
        <v-form @submit.prevent>
          <v-text-field
            class="name mt-5"
            v-model="info.name"
            label="Name"
            required
            hide-details
            outlined
            prepend-inner-icon="mdi-account"
          ></v-text-field>
          <v-row class="mt-5">
            <v-col align="left">
              <v-flex xs12 sm6 md4>
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="info.date"
                  transition="scale-transition"
                  min-width="290px"
                  offset-y
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      class="name"
                      v-model="info.date"
                      label="Your Date of Birth"
                      hide-details
                      outlined
                      v-on="on"
                      prepend-inner-icon="mdi-calendar-month"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="info.date" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="menu = false">Cancel</v-btn>
                    <v-btn color="primary" @click="$refs.menu.save(info.date)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-flex>
            </v-col>
            <v-col>
              <v-text-field
                v-model="info.age"
                class="name"
                label="Age"
                outlined
                hide-details
                prepend-inner-icon="mdi-calendar-account"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-btn
            dark
            style="margin-top: 15px; background-color: #e09430"
            @click="addInfo"
            >Save</v-btn
          >
        </v-form>
        <v-divider></v-divider>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { db, auth } from "@/main";
import {
  collection,
  getDocs,
  updateDoc,
  query,
  doc,
  addDoc,
  onSnapshot,
} from "firebase/firestore";

export default {
  data() {
    return {
      menu: false,
      info: {
        name: "",
        date: "",
        age: "",
      },
    };
  },
  methods: {
    async addInfo() {
      const userId = auth.currentUser.uid;
      const age = this.calculateAge();

      // Check if user already has info document
      const infoQuery = query(collection(db, `users/${userId}/info`));
      const querySnapshot = await getDocs(infoQuery);

      if (querySnapshot.empty) {
        // If user does not have info document, add new document with name, date, and age
        try {
          const docRef = await addDoc(collection(db, `users/${userId}/info`), {
            name: this.info.name,
            date: this.info.date,
            age: age,
          });
          console.log("Document written with ID: ", docRef.id);
        } catch (error) {
          console.error("Error adding document: ", error);
        }
      } else {
        // If user already has info document, update existing document with new name and date
        const docSnapshot = querySnapshot.docs[0];
        const docRef = doc(db, `users/${userId}/info`, docSnapshot.id);

        try {
          await updateDoc(docRef, {
            name: this.info.name,
            date: this.info.date,
            age: age,
          });
          console.log("Document updated with ID: ", docRef.id);
        } catch (error) {
          console.error("Error updating document: ", error);
        }
      }
    },

    calculateAge() {
      const today = new Date();
      const birthDate = new Date(this.info.date);
      let age = today.getFullYear() - birthDate.getFullYear();
      const monthDifference = today.getMonth() - birthDate.getMonth();
      if (
        monthDifference < 0 ||
        (monthDifference === 0 && today.getDate() < birthDate.getDate())
      ) {
        age--;
      }
      return age;
    },
  },
  created() {
    // listen to changes in firestore
    const currentUser = auth.currentUser;
    if (currentUser) {
      const userId = currentUser.uid;
      const infoRef = collection(db, `users/${userId}/info`);
      onSnapshot(infoRef, (snapshot) => {
        snapshot.docChanges().forEach((change) => {
          if (change.type === "added" || change.type === "modified") {
            this.info = change.doc.data();
          }
        });
      });
    }
  },
};
</script>
<style scoped lang="scss">
.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #e9c79a;
  max-width: 100%;
  height: 100%;
}
.name {
  background-color: white;
}
h3.title {
  background-color: #9d6113;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
</style>
