<template>
  <div class="div_background d-flex">
    <v-layout>
      <v-col cols="10" lg="4" class="mx-auto">
        <v-card class="pa-4" style="margin-top: 100px">
          <div class="text-center">
            <v-avatar size="100" color="indigo lighten-4">
              <v-icon size="40" color="indigo">mdi-account</v-icon>
            </v-avatar>
            <h2 class="indigo--text">Login</h2>
          </div>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="email"
              type="email"
              :rules="emailRules"
              label="E-mail"
              required
              placeholder="Email"
              prepend-inner-icon="mdi-account"
            ></v-text-field>

            <v-text-field
              v-model="password"
              :rules="passwordRules"
              label="Password"
              placeholder="Password"
              prepend-inner-icon="mdi-key"
              required
              :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
              :type="passwordShow ? 'text' : 'password'"
              @click:append="passwordShow = !passwordShow"
            ></v-text-field>
            <v-switch label="Remember me" color="indigo"></v-switch>
            <div class="text-center">
              <v-btn :disabled="!valid" color="success" @click="validate">
                Login
              </v-btn>

              <v-btn color="error" @click="reset"> Reset Form </v-btn>
            </div>
          </v-form>
        </v-card>
      </v-col>
      <v-snackbar top color="green" v-model="snackbar">
        Login success
      </v-snackbar>
    </v-layout>
  </div>
</template>

<script>
export default {
  data: () => ({
    snackbar: false,
    passwordShow: false,
    valid: true,
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+/.test(v) || "E-mail must be valid",
    ],
    password: "",
    passwordRules: [(v) => !!v || "Password is Required"],
  }),

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.snackbar = true;
        this.loginWithFirebase();
      }
    },

    reset() {
      this.$refs.form.reset();
    },

    loginWithFirebase() {
      const user = {
        email: this.email,
        password: this.password,
      };
      this.$store.dispatch("signInAction", user);
    },
  },
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },
  watch: {
    user(value) {
      if (value !== null && value !== undefined) {
        this.$router.push("/");
      }
    },
  },
};
</script>
<style scoped>
.div_background {
  background-color: #e9c79a;
  height: 100%;
}
</style>
