<template>
  <v-row>
    <v-col>
      <h3 class="title">Height Chart</h3>
      <v-card>
        <canvas ref="heightChart" height="400px"></canvas>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { db } from "@/main";
import { auth } from "@/main";
import Chart from "chart.js/auto";
import { collection, query, orderBy, getDocs } from "firebase/firestore";

export default {
  data() {
    return {
      heightLog: [],
    };
  },
  methods: {
    async fetchHeightLog() {
      try {
        const userId = auth.currentUser.uid;
        const heightsRef = collection(db, `users/${userId}/heights`);
        const q = query(heightsRef, orderBy("timestamp", "desc"));
        const querySnapshot = await getDocs(q);
        const heights = [];
        querySnapshot.forEach((doc) => {
          heights.push({
            height: doc.data().height,
            timestamp: doc.data().timestamp,
          });
        });
        this.heightLog = heights;
        this.updateChart();
      } catch (error) {
        console.error(error);
      }
    },
    createChart() {
      const chartData = {
        labels: [],
        datasets: [
          {
            label: "Height (cm)",
            data: [],
            backgroundColor: "#e09430",
            borderColor: "#e09430",
            borderWidth: 3,
            fill: false,
          },
        ],
      };

      const chartOptions = {
        responsive: true,
        maintainAspectRatio: false,
      };

      const ctx = this.$refs.heightChart.getContext("2d");
      this.heightChart = new Chart(ctx, {
        type: "line",
        data: chartData,
        options: chartOptions,
      });
    },
    updateChart() {
      const labels = this.heightLog.map((height) => height.timestamp);
      const data = this.heightLog.map((height) => height.height);

      this.heightChart.data.labels = labels;
      this.heightChart.data.datasets[0].data = data;
      this.heightChart.update();
    },
  },
  mounted() {
    this.createChart();
  },
};
</script>
