<template>
  <v-app class="setting pl-1 pr-0">
    <v-bottom-navigation
      class="bottom_navigation_drawer d-print-none"
      fixed
      grow
      dark
      v-if="!userLogedIn"
    >
      <v-btn
        class="mt-2 button"
        v-for="item in items"
        :key="item.title"
        :to="item.link"
      >
        <v-icon right>{{ item.icon }}</v-icon
        >{{ item.title }}
      </v-btn></v-bottom-navigation
    >
    <v-app-bar dark app style="background-color: #e09430" v-else>
      <v-app-bar-title style="font-size: 16px">Height Tracker </v-app-bar-title>
      <v-spacer></v-spacer>
      <v-btn icon to="/">
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn icon to="/heighttracker">
        <v-icon>mdi-human-male-height</v-icon>
      </v-btn>
      <v-btn icon to="/heightdatabase">
        <v-icon>mdi-database-arrow-down-outline</v-icon>
      </v-btn>
      <v-btn icon color="black" @click="logoutFromFirebase" to="/signin">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  name: "App",
  created() {
    this.$store.dispatch("checkAuthState");
    this.$store.dispatch("subscribeToAuthChanges");
  },

  computed: {
    items() {
      let menuItems = [
        {
          title: "Register",
          icon: "mdi-face",
          link: "/signup",
        },
        {
          title: "Login",
          icon: "mdi-face",
          link: "/signin",
        },
      ];
      return menuItems;
    },

    userLogedIn() {
      return this.$store.getters.user;
    },
  },
  methods: {
    logoutFromFirebase() {
      this.$store.dispatch("signOutAction");
    },
  },
};
</script>
<style lang="scss">
.bottom_navigation_drawer {
  .v-btn .v-btn__content {
    font-size: 1.2rem;
  }
}
</style>
