

.setting {
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-color: #e9c79a;
  width: 100%;
  height: 100%;
}
.v-card__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.v-btn {
  color: #fff;
}
.v-btn:hover {
  color: #1a1919;
}
.height-chart {
  height: 500px;
  margin-top: 20px;
}
.v-list-item__title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.v-list-item__subtitle {
  font-size: 16px;
  color: #e09430;
}
.v-list-item__action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-icon {
  color: #e09430;
  cursor: pointer;
}
.v-icon:hover {
  color: #e09430;
}
h3.title {
  background-color: #9d6113;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
h3 {
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

  text-align: center;
  background-color: white;
  border-radius: 999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 10px solid #9d6113;
  margin: 0 auto 2rem;
}

.current span {
  display: block;
  color: #593506;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: 1s;
}

.current span:hover {
  font-size: 64px;
}

.current small {
  color: #965d12;
  font-style: italic;
  font-size: 24px;
  margin-bottom: -2rem;
}

.bottom_navigation_drawer {
  .v-btn .v-btn__content {
    font-size: 1.2rem;
  }
}
